<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper1">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/dashboard">
                        TU Parking Dashboard
                    </a>
                </li>
                <li>
                    <a href="/add_new_parking">
                    Add New Parking</a>
                </li>
                <li>
                    <a href="/view_all_parking">View All Parking</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <% if (message == "success") { %>
                        <div class="alert alert-success">Token : <%= token %></div>
                    <% } %>
                    <% if (message == "duplicated") { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="form">
                        <form class="form-horizontal" action="/gen_token" method="post">
                          <h1>Parking Name</h1><input type="text" placeholder="name", name="name"/>
                          <h1>Latitude</h1><input type="text" placeholder="lat" name="latitude"/>
                          <h1>longtitude</h1><input type="text" placeholder="long" name="longtitude"/>
                          <br>
                          <br>
                          <br>
                          <button type="submit" class="btn btn-success" >generate parking tag</button>
                        </form>
                      </div>

                    </div>
                </div>

                <br>
                <br>
                <br>
                <div class="row" id="all-token"></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $.get("/get_all_token",{},function(result){
        // alert(JSON.stringify(result));
        var html = "";
        
        for(var i = 0; i < result.length; i++){
            html += "<span class='label label-info'>" + "TOKEN: " + result[i].token + " ParkinglotName: " + result[i].parkinglotName + "</span><br>";
        }
        $("#all-token").html(html);
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>

</body>

</html>
