<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
	    * { margin: 0; padding: 0; box-sizing: border-box; background-color: #152E33;}
	    body { font: 13px Helvetica, Arial; }
		.centered {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 70%;
			height: 50%;
			background-color: #2F4045;
			/* bring your own prefixes */
			transform: translate(-50%, -50%);
		}

    </style>
  </head>
  <body>
    <div id="messages" class="centered"></div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      
      socket.on('refresh', function(msg){
        $('#messages').html(msg);
      });	

    </script>
  </body>
</html>
